<!DOCTYPE html>
<html data-ng-app="stxt" data-ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Sneakertext</title>
    <link rel="stylesheet" href="../../css/stxt.css" />
  </head>
  <body>

    <table id="grid" data-ng-controller="stxtPeerCtrl">

      <tr>
        <th colspan="3">
          <div id="status">
            <div>stxt peer: {{root_agent.from().toString()}}</div>
            <div>curr agent: {{ curr_agent.get_group().tag.toString() }}</div>
          </div>
        </th>
      </tr>

      <tr>

        <td id="groups">
          groups:
          <div data-ng-repeat="agent in agents"
               data-ng-click="set_curr_agent(agent)">
            {{agent|abbrev}}
          </div>

          <form name="groupForm">
            <input type="text" data-ng-model="groupToAdd"/>
            <button data-ng-click="new_agent_and_group()">add group</button>
          </form>
        </td>

        <td width="75%" id="msgs">
          messages:
          <div data-ng-repeat="msg in msgs">
            from: {{msg.from}} <br/>
            kind: {{msg.kind}} <br/>
            time: {{msg.time}} <br/>
            body: {{msg.body}} <br/>
          </div>
          <form name="msgForm">
            <input type="text" data-ng-model="msgToAdd"/>
            <button data-ng-click="new_msg()">send</button>
          </form>
        </td>

        <td id="users">
          users:
        </td>

      </tr>

    </table>

    <script src="/js/angular.js"></script>
    <script src="/js/stxt.standalone.js"></script>
    <script src="/js/angular-app.js"></script>
  </body>
</html>
